# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environment
# ==========================
venv/

# ==========================
# VS Code
# ==========================
.vscode/
.idea/

# ==========================
# Datasets
# ==========================
data/
uav_data/
dataset_report/
duplicate_report/

# ==========================
# Outputs
# ==========================
results/
outputs/

# ==========================
# Images generated
# ==========================
*.png

# ==========================
# CSV Outputs
# ==========================
uav_features.csv
duplicate_report.csv

# ==========================
# Models
# ==========================
*.keras
*.h5
*.ckpt
*.pb

# ==========================
# Logs
# ==========================
*.log